.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1184px;
  margin: 92px auto;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 740px;
  background-image: url(../images/background-cover.png);
}

.cover:hover .cover__overlay {
  opacity: 80%;
}

.cover__overlay {
  position: absolute;
  box-sizing: border-box;
  width: 2000px;
  height: 2000px;
  background-color: #2a2c2f;
  opacity: 30%;
}

.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 656px;
  margin: auto;
  width: 100%;
  gap: 32px;
  align-items: center;
  z-index: 1;
}

.cover__content-title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  box-sizing: border-box;
  margin: 0;
}

.cover__content-subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  max-width: 280px;
}

.cover__content-button {
  grid-area: button;
  padding: 13px 20px;
  border-radius: 4px;
  background-color: #0278fe;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 600;
  text-align: center;
}

.cover__content-button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 600px) {
  .cover {
    margin: 64px auto;
    height: 254px;
  }
  .cover__content {
    gap: 16px;
  }
  .cover__content-title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__content-subtitle {
    font-size: 16px;
    line-height: 1.14;
  }

  .cover__content-button {
    width: 198px;
  }
}
